@use './tools/colors.scss' as *;
@use './tools/mixins.scss' as *;

body {
  min-height: 100vh;
  background: radial-gradient(circle at 15% 22%, #553d55, transparent 50vh),
    radial-gradient(circle at 89% 5%, #3d5551, transparent 70vh),
    radial-gradient(at 34% 78%, #45553d, transparent 100vh), radial-gradient(at 4% 91%, #553d3d, transparent 30vh),
    radial-gradient(at 81% 89%, #554e3d, transparent 80vh);
  background-color: #191726;
  color: white;
  box-sizing: border-box;
  display: flex;
}

#root {
  padding: 2rem 3rem;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}

a:any-link {
  color: inherit;
}
