@use './tools/breakpoints.scss' as *;

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);

  .modal {
    display: flex;
    flex-direction: column;

    button {
      background-color: #342f52;
      color: white;
      border: none;
      width: 12rem;
      height: 12rem;
      margin: 1rem;
      padding: 3rem;

      img {
        height: 100%;
        width: 100%;
      }
    }

    @include md {
      flex-direction: row;
    }
  }
}
