@use './tools/breakpoints.scss' as *;
@use './tools/mixins.scss' as *;

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);

  .modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 20rem;
    font-family: monospace;
    font-size: 1.2rem;

    button,
    a {
      background-color: #342f52;
      color: white;
      border: none;
      margin: 1rem;
      cursor: pointer;
      width: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .disconnect-button {
      background-color: #522f3af0;
    }

    .wallet-options-connected {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 16rem;
        max-width: 100%;
      }

      button,
      a {
        max-width: 20rem;
        height: 4rem;
        border-radius: 0.8rem;
        margin: 0.5rem 1rem;
      }
    }

    .wallet-options-disconnected {
      display: flex;
      flex-direction: column;

      button {
        width: 12rem;
        height: 12rem;
        padding: 3rem;
        @include border-radius;

        img {
          height: 100%;
          width: 100%;
          transition: 0.2s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      @include md {
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
