@mixin border-radius($radius: 1.5rem) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin card {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  background-color: blue;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  border-radius: 14px;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  box-shadow: 0 0 10px #191726;
  user-select: none;
  min-height: 32rem;
  max-width: 100%;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  h2 {
    margin: 0 2rem 2rem 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 38px;
  }

  p {
    margin: 0 2rem 0 2rem;
    font-family: monospace;
  }
}
