@mixin rainbow-glow {
  animation: cycle 1s linear infinite;

  @keyframes cycle {
    0% {
      text-shadow: 0 0 2px black, 1px 1px 1px red, 2px 2px 1px orange, 3px 3px 1px yellow;
    }
    16% {
      text-shadow: 0 0 2px black, 1px 1px 1px orange, 2px 2px 1px yellow, 3px 3px 1px green;
    }
    33% {
      text-shadow: 0 0 2px black, 1px 1px 1px yellow, 2px 2px 1px green, 3px 3px 1px cyan;
    }
    50% {
      text-shadow: 0 0 2px black, 1px 1px 1px green, 2px 2px 1px cyan, 3px 3px 1px blue;
    }
    66% {
      text-shadow: 0 0 2px black, 1px 1px 1px cyan, 2px 2px 1px blue, 3px 3px 1px magenta;
    }
    83% {
      text-shadow: 0 0 2px black, 1px 1px 1px blue, 2px 2px 1px magenta, 3px 3px 1px red;
    }
    100% {
      text-shadow: 0 0 2px black, 1px 1px 1px magenta, 2px 2px 1px red, 3px 3px 1px orange;
    }
  }
}
